<p style="color: green"><%= notice %></p>

<%= render @question %>

<div>
  <%= link_to "Edit this question", edit_topic_question_path([@topic, @question]) %> |
  <%= link_to "Back to questions", [@topic, :questions] %>

  <%= button_to "Destroy this question", [@topic, @question], method: :delete %>
</div>
