<% provide(:title, "Topic") %>

<p style="color: green"><%= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Topics", topics_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @topic.content %></li>
    <li class="breadcrumb-item"><%= link_to "Qs Controls", topic_questions_path(@topic) %></li>
  </ol>
</nav>


<div class="btn-group" role="group">
  <%= link_to "Rename topic", edit_topic_path(@topic), class: "btn btn-outline-primary" %>
  <%= link_to "New question", new_topic_question_path(@topic), class: "btn btn-primary" %>

  <%# Commenting out the Destroy button #%>
  <% if false %>
  <%= button_to "Destroy this topic", @topic, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  <% end %>
</div>

  <div class="my-5">
    <h1><%= render @topic %></h1>
  </div>



<div id="questions">
<% @questions.each do |question| %>
  <div class="my-4">
      <%= link_to question.content, topic_question_path(@topic, question) %>
  </div>
<% end %>
</div>
