<p style="color: green"><%= notice %></p>

<div class="my-4">
  <%= link_to "All Questions for this topic", topic_questions_path(@topic) %> |
  <%= link_to "Edit this topic", edit_topic_path(@topic) %> |
  <%= link_to "Back to topics", topics_path %>

  <%= button_to "Destroy this topic", @topic, method: :delete %>
</div>


<%= render @topic %>
<%= render @topic.questions %>
