<p style="color: green"><%= notice %></p>

<div class="btn-group">
  <%= link_to "Back to topics", topics_path, class: "btn btn-outline-primary" %>
  <%= link_to "All Questions for this topic", topic_questions_path(@topic), class: "btn btn-primary" %>
</div>

<div class="card my-5 p-4">
  <%= render @topic %>
</div>


<div class="btn-group-vertical">
  <%= link_to "Edit this topic", edit_topic_path(@topic), class: "btn btn-outline-dark" %>
  <%= button_to "Destroy this topic", @topic, method: :delete, class: "btn btn-outline-danger" %>
</div>
