<% provide(:title, "Answer Index") %>

<p style="color: green"><%= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Topics", topics_path %></li>
    <li class="breadcrumb-item"><%= link_to @topic.content, topic_path(@topic) %></li>
    <li class="breadcrumb-item"><%= link_to "Qs Controls", topic_questions_path(@topic) %></li>
    <li class="breadcrumb-item" ><%= link_to @question.content, topic_question_path(@topic, @question) %></li>
    <li class="breadcrumb-item active" aria-current="page"">Answers Controls</li>
  </ol>
</nav>


<%= link_to "New answer", new_topic_question_answer_path, class: "btn btn-primary" %>


<div class="mt-3">
  <h3><%= @question.content %></h3>
  <h3>Answers</h3>
</div>


<div id="answers">
  <% @answers.each do |answer| %>
    <div class="card my-5 px-5">
      <%= simple_format render answer %>
      <p>
        <%= link_to "edit", edit_topic_question_answer_path(@topic, @question, answer) %>
        <%= button_to "delete answer", [@topic, @question, answer], method: :delete, data: { content: "Are you sure?" } %>
      </p>
    </div>
  <% end %>
</div>

