<p style="color: green"><%= notice %></p>

<div class="btn-group">
  <%= link_to "Back to questions", [@topic, :questions], class: "btn btn-outline-primary" %>
  <%= link_to "Answers for this Question", topic_question_answers_path(@topic, @question), class: "btn btn-primary" %>
</div>

<div class='card my-5 p-4'>
  <%= render @question %>
</div>


<div class='btn-group-vertical'>
  <%= link_to "Edit this question", edit_topic_question_path([@topic, @question]), class: "btn btn-outline-dark" %>
  <%= button_to "Destroy this question", [@topic, @question], method: :delete, class: "btn btn-outline-danger" %>
</div>