<% provide(:title, "Question") %>

<p style="color: green"><%= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Topics", topics_path %></li>
    <li class="breadcrumb-item"><%= link_to @topic.content, topic_path(@topic) %></li>
    <li class="breadcrumb-item"><%= link_to "Qs Controls", topic_questions_path(@topic) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @question.content %></li>
    <li class="breadcrumb-item"><%= link_to "Answers Controls", topic_question_answers_path(@topic, @question, :answers) %></li>
  </ol>
</nav>

<div class='btn-group'>

  <%= link_to "New Answer", new_topic_question_answer_path(@topic, @question), class:"btn btn-primary" %>
</div>


<div class='card my-4 p-4'>
  <%= render @question %>
</div>

<h3>Answers</h3>

<div id="answers">
  <% @answers.each do |answer| %>
    <ul>
      <li><%= simple_format answer.content %></li>
    </ul>
  <% end %>
</div>


