<% provide(:title, "Show log") %>

<h1><%= @mylog.title %></h1>

<p><%= @mylog.body %><</p>

<p class="font-monospace text-muted">created at <%= @mylog.created_at.localtime %>.</p>

<ul>
  <li><%= link_to "All logs", mylogs_path %></li>
  <li><%= link_to "Edit", edit_mylog_path(@mylog) %></li>
  <li><%= button_to 'Destroy', mylog_path(@mylog),
  data: {:confirm => 'Are you sure?'}, method: :delete %></li>
</ul>