<% provide(:title, "Show link") %>

<h1><%= @ulink.title %></h1>

<p><%= @ulink.body %></p>

<ul>
  <li><%= link_to "All ulinks", ulinks_path %></li>
  <li><%= link_to "Edit", edit_ulink_path(@ulink) %></li>
  <li><%= button_to 'Destroy', ulink_path(@ulink),
  data: {:confirm => 'Are you sure?'}, method: :delete %></li>
</ul>
